html, body {
	height: 100%;
	margin: 0px;
	overflow: hidden;
}

body {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	/* background: linear-gradient(
		174deg, 
		#040d15 58%, 
		rgba(12,112,138,1) 89%, 
		rgba(0,212,255,1) 98%); */
	background-color:#05072e;
	color: white;
}

nav{
	--radius: 200px;
	--top: 50%;
	--right: 75%;
	--menuHeight: 100px;
	--menuWidth: 100px;
	grid-column: 1/2;
	--offsetCenter: 12px;
	position: relative;
}

nav button{
	height: var(--menuHeight);
	width: var(--menuWidth);
	position:absolute;
	top: calc(var(--top) - var(--menuHeight)/2);
	right: calc(var(--right) - var(--menuWidth)/2);
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	color:#145995;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 2px;
	border: none;
	border-radius: 100%;
	background: none;
}

nav button::after{
	content: '';
	position:absolute;
	height: inherit;
	width: inherit;
	top: 0px;
	right: 0px;
	border: none;
	border-radius: inherit;
	box-shadow: 0px 0px 19px 5px darkslategrey; 
	background: radial-gradient(circle, rgba(240,240,240,1) 57%, #184f4f 78%);
	animation: animate 5s linear infinite;
	z-index: -1;
}

nav button::before{
	content: '';
	position:absolute;
	height: inherit;
	width: inherit;
	top: 0px;
	right: 0px;
	border: none;
	border-radius: inherit;
	box-shadow: 0px 0px 19px 5px darkslategrey; 
	background: radial-gradient(circle, rgba(240,240,240,1) 57%, #184f4f 78%);
	transform: rotate(-270deg);
	animation: animate 5s linear infinite;
	z-index: -1;
}

nav button:hover::after{
	background: radial-gradient(circle, rgba(240,240,240,1) 65%, #184f4f 78%);
	animation: rotateInverse 120s linear infinite, animate 5s linear infinite;
	filter: url(#waves);
}

nav button:hover::before{
	background: radial-gradient(circle, rgba(240,240,240,1) 65%, #184f4f 78%);
	animation: rotate 120s linear infinite, animate 5s linear infinite;
	filter: url(#waves);
}

@keyframes rotate {
	0%{
		transform: rotate(0deg);
	}
	25%{
		transform: rotate(90deg);
	}
	50%{
		transform: rotate(180deg);
	}
	75%{
		transform: rotate(270deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

@keyframes rotateInverse {
	0%{
		transform: rotate(0deg);
	}
	25%{
		transform: rotate(-90deg);
	}
	50%{
		transform: rotate(-180deg);
	}
	75%{
		transform: rotate(-270deg);
	}
	100%{
		transform: rotate(-360deg);
	}
}

nav button:active::after, nav button:active::before {
	box-shadow: none;
	background: none;
	transition: all 2s ease;
	filter: url(#waves);
}

.connector {
	--height: 40px;
	--width: 77px;
	--borderSize: 1px;
	position: absolute;
	bottom: calc( 100% - var(--top) - var(--height)/2);
	right: calc(var(--right) - var(--width)/2);
	width: var(--width);
	height: var(--height);
	border-bottom: solid var(--borderSize) white;
	border-top-left-radius: 12%;
	filter: none;
	transition: scale .1s linear;
	scale: 0;
}

.connector::after {
	content: "";
	display: block;
	width: auto;
	height: 100%;
	transform: rotate(180deg) translateY(-100%);
	border-bottom: solid var(--borderSize) white;
	border-radius: 12%;
	filter: inherit;
 }

 @keyframes animate
 {
	0%
	{
		box-shadow: 0 0 5px darkslategrey,
		inset 0 0 5px darkslategrey;
	}
	10%
	{
		box-shadow: 0 0 15px darkslategrey,
		inset 0 0 15px darkslategrey;
	}
	20%
	{
		box-shadow: 0 0 7px darkslategrey,
		inset 0 0 7px darkslategrey;
	}
	40%
	{
		box-shadow: 0 0 15px darkslategrey,
		inset 0 0 15px darkslategrey;
	}
	60%
	{
		box-shadow: 0 0 10px darkslategrey,
		inset 0 0 10px darkslategrey;
	}
	80%
	{
		box-shadow: 0 0 14px darkslategrey,
		inset 0 0 14px darkslategrey;
	}
	100%
	{
		box-shadow: 0 0 5px darkslategrey,
		inset 0 0 5px darkslategrey;
	}
 }

 svg{
	width:0;
	height:0;
 }

.skills { 
	--buttonWidth: var(--menuWidth);
	--buttonHeight: var(--menuHeight);
	width: var(--buttonWidth); 
	height: var(--buttonHeight); 
	--angle: 50deg;
	top: calc(var(--top) - var(--buttonHeight)/2);
	right: calc(var(--right) - var(--buttonWidth)/2); 
	transform: translate(var(--offsetCenter)) rotate(var(--angle)) translate(var(--radius)) rotate(calc(-1*var(--angle))); 
	transition: scale .5s .3s linear;
	scale: 0;
}

.hobbies { 
	--buttonWidth: var(--menuWidth);
	--buttonHeight: var(--menuHeight);
	width: var(--buttonWidth); 
	height: var(--buttonHeight); 
	top: calc(var(--top) - var(--buttonHeight)/2);
	right: calc(var(--right) - var(--buttonWidth)/2); 
	--angle: 0deg; 
	transform: translate(var(--offsetCenter)) rotate(var(--angle)) translate(var(--radius)) rotate(calc(-1*var(--angle))); 
	transition: scale .5s .1s linear;
	scale: 0;
}

.exps { 
	--buttonWidth: 180px;
	--buttonHeight: 180px;
	width: var(--buttonWidth); 
	height: var(--buttonHeight); 
	top: calc(var(--top) - var(--buttonHeight)/2);
	right: calc(var(--right) - var(--buttonWidth)/2); 
	--angle: -50deg; 
	transform: translate(var(--offsetCenter)) rotate(var(--angle)) translate(var(--radius)) rotate(calc(-1*var(--angle))); 
	transition: scale .5s linear;
	scale: 0;
}

.display{
	scale: 1;
}

.connectorIsHovered{
	filter: url(#connector);
}

main{
	grid-column: 2/4;
}

h1 { 
	text-align: center;
	margin-top: 0px;
	padding-top: 1em;
}

footer {
	position: fixed;
	text-align: center;
	width: 100%;
	left: 0px;
	bottom: 3px;
	font-size: 90%;
}

a {
	color: white;
}

.face {
	border: 2px solid black;
	border-radius: 10px;
}
